* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMONS */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
}

:root {
    --btn-color: #0061FF;
    --bg-color: #B4D0E7;
    --bg-footer-color: #000000;
    --brd-designit: #D1E9CD;
    --bg-designit: #A2D39B;
    --bg-asu: #61082B;
    --bg-uf: #0093CE;
    --bg-topps: #FF1C1C;
    --bg-wbr: #D5001F;
    --bg-hc: #B4D0E7;
    --bg-lp: #0D2481;
    --bg-cco: #FFD830;
}

.btn-blue {
    color: white;
    background-color: var(--btn-color);
    padding: .3rem .5rem;
    text-align: center;
    text-decoration: none;
}

.btn-link {
    color: inherit;
    text-decoration: none;
}

.btn-white {
    padding: .3rem .5rem;
    text-align: center;
    border: 1px solid black;
    background-color: white;
}

.blue-icon {
    color: var(--btn-color);
}

.container {
    width: 70%;
    margin: 0 auto;
}

.small-container {
    width: 70%;
    margin: 1rem auto;
    padding: 1rem;
}

.mrg-05-v {
    margin: .5rem 0;
}

.mrg-1-v {
    margin: 1rem 0;
}

.mrg-2-v {
    margin: 2rem 0;
}

.mrg-3-top {
    margin-top: 3rem;
}

.bold-txt {
    font-weight: bold;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

hr {
    width: 25%;
}

.flexer {
    display: flex;
}

.j-between {
    justify-content: space-between;
}

.wrapper {
    flex-wrap: wrap;
}

.blue-box {
    background-color: var(--bg-color);
}

.padd-5-t {
    padding-top: 5rem;
}

.padd-5-b {
    padding-bottom: 5rem;
}

.mrg-5-top {
    margin-top: 5rem;
}

/* HEADER */
/* nav */
nav {
    width: 100%;
    height: 3rem;
}

.nav-list {
    list-style-type: none;
    margin: 0 1rem;
    line-height: 3rem;
}

li img {
    vertical-align: middle;
}

/* hero */
.hero-raw {
    gap: 1rem;
}

.column-left-30 {
    width: 30%;
}

.jumbo-image{
    position: relative;
    width: 70%;
}

.j-img {
    position: absolute;
}

.go-down {
    color: black;
    font-size: 2.5rem;
}

.padd-r-35 {
    padding-right: 35% ;
}
/* /hero */

/* plans */

.plan-col {
    width: 30%;
    border: 1px solid lightgrey;
}

label {
    margin-right: 5rem;
}

.head-plan {
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: .5rem;
}

.plan-card {
    padding: 2rem;
}

.period {
    color: rgb(151, 143, 143);
}

.horizontal-col {
    border: 1px solid lightgray;   
}

.left-team-plan {
    width: 70%;
}

.right-team-plan {
    width: 25%;
}

/* /plans */

/* partner */
.partner {
    padding: 1rem;
}

.image-partner{
    width: 63%;
}

.txt-partner {
    width: 35%;
}
/* /partner */

/* operations */
.card {
    width: calc(95% / 3);
}
/* /operations */

/* customers */
.customers {
    width: 50%;
}
/* /customers */
.square {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

/* members */
.member-square {
    height: 50%;
    width: 50%;
    text-align: center;
}

.logo-members {
    position: relative;
    top: 50%;
    transform: translateY(-50%) scale(.5);
    filter: invert();
}

.designit-square {
    border: 15px solid var(--brd-designit);
    background-color: var(--bg-designit);
}

.asu-square {
    background-color: var(--bg-asu);
}

.uf-square {
    background-color: var(--bg-uf);
}

.toops-square {
    background-color: var(--bg-topps);
}

.wbr-square {
    background-color: var(--bg-wbr);
}

.hc-square {
    background-color: var(--bg-hc);
}

.lp-square {
    background-color: var(--bg-lp);
}

.cco-square {
    background-color: var(--bg-cco);
}

.explain {
    overflow-y: auto;
    text-align: left;
    padding: 15px;
}

.designit {
    width: 50%;
}
/* /members */

/* free trial */
.column-left-40 {
    width: 40%;
}

.column-right-20 {
    width: 35%;
    padding-top: .5rem;
    text-align: right;
}

.free-trial .button {
    width: 35%;
    border: 1px solid darkgreen;
}
/* /free trial */

/* faq */
.question {
    border-top: 1px solid black ;
    padding: 1.5rem;
    list-style-type: none;
}

.answer {
    list-style-type: none;
    display: none;
}

.last-question {
    border-bottom: 1px solid black;
}

/* /faq */


/* FOOTER */

footer {
    background-color: #000000;
    color: white;
}

.footer-columns {
    width: calc(95% / 5);
    padding: 1rem;
    line-height: 2rem;
}

.title-list {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.footer-columns ul {
    list-style-type: none;
}

footer hr {
    width: 10%;
}

.language {
    padding: .5rem 0 2rem;
    color: gray;
}

/* EFFECTS */

.nav-list:hover {
    border-bottom: 2px solid black;
}

[class^="btn-"]:hover {
    filter: opacity(.8);
}

.question:hover .answer {
    display: block;
    font-weight: 300;
}

.question:hover i {
    transform: rotate(180deg);
}

/* radio buttons */
.new-r-btn {
    display: inline-block;
    height: .8rem;
    width: .8rem;
    border: 1px solid rgb(181, 180, 180);
    border-radius: 50%;
    margin-right: 1rem;
    position: relative;
}


label:hover .new-r-btn{
    background-color: rgb(228, 228, 228);
}

.new-r-btn:after {
    display: inline-block;
    content: "";
    border: 3px solid var(--btn-color);
    border-radius: 50%;
    width: .7rem;
    height: .7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

input[type="radio"]:checked ~ .new-r-btn:after {
    transform: translate(-50%, -50%) scale(1);
}

label:hover {
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

/* /radio buttons */