* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* HEADER */
nav {
    width: 100%;
    height: 7vh;
    background-color: orange;
    display: flex;
    justify-content: space-between;
}

nav div {
    /* debug */
    width: calc(100% / 3);
    height: 100%;
    background-color: orangered;
    border: 1px solid black;
}

.hero-box {
    /* debug */
    background-color: blue;
    padding-top: 5rem;

}

.hero {
    /* debug */
    width: 80%;
    border: 2px solid yellow;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    padding: 2rem 4rem 0;
    gap: 1rem;
}

.hero .column-left {
    width: 30%;
    background-color: blueviolet;
}

.hero .image {
    width: 70%;
    background-color: blueviolet;
}

.container {
    width: 70%;
    margin: 1rem auto;
    /* debug */
    border: 2px solid green;
    min-height: 150px;
    padding: 2rem 4rem;
}

.plan {
    border: 1px solid blue;
    padding: 1rem;
}

.plan-vertical {
    display: flex;
    gap: 1rem;
}

.plan-col {
    /* debug */
    border: 1px solid red;
    min-height: 500px;
}

.horizontal-col {
    /* debug */
    margin-top: 1rem;
    border: 2px solid red;

}

.partner {
    border: 2px solid magenta;
    margin-top: 5rem;
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

.partner .image {
    width: 65%;
    border: 1px solid maroon;
}

.partner .column-right {
    width: 35%;
    border: 1px solid maroon;
}

.operations {
    margin-top: 1rem;
    border: 2px solid goldenrod;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin-top: 1rem;
    width: calc(95% / 3);
    background-color: lightpink;
    border: 1px solid black;

}