* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMONS */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
}

:root {
    --btn-color: #0061FF;
    --bg-color: #B4D0E7;
    --bg-footer-color: #000000;
}

.btn-blue {
    color: white;
    background-color: var(--btn-color);
    padding: .3rem .5rem;
    text-align: center;
    text-decoration: none;
}

.btn-link {
    color: inherit;
    text-decoration: none;
}

.btn-white {
    padding: .3rem .5rem;
    text-align: center;
    border: 1px solid black;
}

.blue-icon {
    color: var(--btn-color);
}

.container {
    width: 70%;
    margin: 0 auto;
}

.small-container {
    width: 70%;
    margin: 1rem auto;
    /* debug */
    border: 2px solid green;
    min-height: 150px;
    padding: 2rem 4rem;
}

.mrg-05-v {
    margin: .5rem 0;
}

.mrg-1-v {
    margin: 1rem 0;
}

.mrg-2-v {
    margin: 2rem 0;
}

.mrg-3-top {
    margin-top: 3rem;
}

.bold-txt {
    font-weight: bold;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

hr {
    width: 25%;
}

.flexer {
    display: flex;
}

.j-between {
    justify-content: space-between;
}

.wrapper {
    flex-wrap: wrap;
}

/* HEADER */
/* nav */
nav {
    width: 100%;
    height: 3rem;
}

li {
    list-style-type: none;
    margin: 0 1rem;
    line-height: 3rem;
}

li img {
    vertical-align: middle;
}

/* hero */
.hero-box {
    background-color: var(--bg-color);
    padding-top: 5rem;

}

.hero-raw {
    gap: 1rem;
}

.column-left {
    width: 30%;
}

.jumbo-image{
    width: 70%;
}

.go-down {
    color: black;
    font-size: 2.5rem;
}

.padd-r-35 {
    padding-right: 35% ;
}
/* /hero */

/* plans */
.plan {
    border: 1px solid blue;
    padding: 1rem;
}

.plan-col {
    width: 30%;
    border: 1px solid lightgrey;
}

.head-plan {
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: .5rem;
}

.plan-card {
    padding: 1rem;
}

.period {
    color: rgb(151, 143, 143);
}

.horizontal-col {
    border: 1px solid lightgray;   
}

.left-team-plan {
    width: 70%;
}

.right-team-plan {
    width: 25%;
}

/* /plans */

/* partner */
.partner {
    border: 2px solid magenta;
    margin-top: 5rem;
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

.image-partner{
    width: 65%;
}

.txt-partner {
    width: 35%;
}

/* /partner */

/* operations */
.operations {
    margin-top: 5rem;
    border: 2px solid goldenrod;
}

.card {
    width: calc(95% / 3);
}

.customers {
    border: 1px solid lightskyblue;
    margin-top: 5rem;
    width: 50%;
}

.members {
    display: flex;
}

.square {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    border: 1px solid darkgoldenrod;
    display: flex;
    flex-wrap: wrap;
}

.member-section {
    height: 50%;
    width: 50%;
    border: 1px solid black;
}

.explain {
    overflow-y: auto;
}

.free-trial {
    display: flex;
    gap: 1rem;
}

.free-trial .column-left {
    width: 65%;
    border: 1px solid darkgreen;
}

.free-trial .button {
    width: 35%;
    border: 1px solid darkgreen;
}

.faq {
    margin-top: 5rem;
}

.question {
    border: 1px solid brown;
    margin-top: .3rem;
}

/* FOOTER */

footer {
    /* debug */
    background-color: aquamarine;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    gap: .5rem;
    justify-content: space-between;
}

.footer-columns {
    width: calc(95% / 5);
    /* debug */
    background-color: darkorange;
    min-height: 250px;
}

.footer-bottom {
    width: 80%;
    margin: 0 auto;
    /* debug */
    border: 1px solid black; 
    min-height: 80px;
    background-color: lightcoral;  
}